@charset "UTF-8";


body{
    background: white url('../imagens/fundo.jpg') left center no-repeat fixed;
    background-size: cover;  
    color: rgb(0, 65, 87);
    font-family: Arial, Helvetica, sans-serif;  
}
main{         
    padding-top: 20px;    
    text-align: center;
    font-size: 0.8em;        
}   
main > input[type=text]{
    height: 25px;
    width: 200px;
    margin: 2px;
}
main > input[type=button]{
    height: 31px;
    width: 31px;    
}
ul{
    list-style-type: none;
}
